---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import TestComponent from '../components/TestComponent';
const x: string = 'hello';

---
<html>
  <body>
    <h1>Hello, World!</h1>
    <TestComponent />
    <p>{x}</p>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
  p {
    color: blue;
  }

</style>
