---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
import ReactComponent from "../components/ReactComponent";
import Worm from "../components/Worm";
import SvelteComponent from "../components/SvelteComponent/SvelteComponent.svelte";
const x: string = "hello, this is a string variable";
---

<html>
  <body>
    <h1>Hello, World!</h1>
    <ReactComponent client:idle />
    <p>{x}</p>
    <Worm />
    <p>
      The above logo was generated with the `aunty generate component` command.
    </p>
    <SvelteComponent client:idle />
  </body>
</html>

<style>
  h1 {
    color: orange;
  }

  p {
    color: #ff00ff;
  }
</style>
